* {
    box-sizing: border-box;
    font-family:arial, sans-serif;
}
#container{
    display:flex;
    flex-flow:column wrap;
}


#header{
    display:flex;
    flex-flow:column wrap;
    width:100%;
    border-bottom:1px solid #DDD;
    padding-bottom:0;
}
#header-top{
    display:flex;
    padding:1.1rem;
    align-items:center;
    align-content:center;
}


/*START LOGO STYLING */

.logo{
    max-width:100px;
    height:30px;
}
.logo img{
    width:100%;
}

/*START SEARCHBAR STYLING */


#searchbar-group{
    display:flex;
    border:1px solid #dfe1e5;
    border-radius:25px;
    width:750px;
    margin-left:4rem;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

#searchbar-group:hover{
    box-shadow:1px 1px 6px #CCC;
}

#searchbar{
    border:none;    
    max-height:35px;
    background:rgba(0,0,0,0);
    padding-left:1rem;
    margin-bottom:0;
    
    
}
::placeholder{
    color:black;
    font-family:arial;
    font-size:16px;
}

.searchbar-icons{
    display:flex;
    list-style:none;
    align-items:space-evenly;
}
.searchbar-icons li{
    display:inline-block;
    padding:0 0.3rem;
    font-size:24px;
    height:24px;
}

/*STYLING NAVBAR UNDER SEARCH BAR*/

#navbar {
    display:flex;
    align-content:center;
    font-family:arial,sans-serif;
    color:#5f6368;
    margin-left:9rem;
    font-size:14px;
    text-align:center;
    padding:0;
    
        

}
#navbar a:visited{
    color:#5f6368;
}
#navbar ul li a.active{
    border-bottom: 3px solid #1a73e8;
    color:#1a73e8;
    font-weight:800;
    text-decoration:none;
}

#navbar ul li a{
    display:flex;
    text-decoration:none;
    align-items:center;
    padding:0.8rem 0.7rem;
    width:auto;
    color:#5f6368;
}
#navbar ul{
    display:flex;
    margin:0;
}

#navbar ul li{
    display:flex;
    color:#5f6368;
    align-items:center;
    align-items:space-between;
    justify-content:center;
    
}

#navbar ul li span{
    margin-right:0.3rem;
}

/* STYLING TOP RIGHT SETTINGS */

.settings-group{
    display:flex;
    justify-self:flex-end;
    margin-left:auto;
    align-items:center;
}
.settings-group > *{
    margin:0 0.3rem;
    text-decoration:none;
    font-size:24px;
    color:#555;
}

#main{
    width:40vw;
    margin-left:12rem;
}

/*STYLING RESULTS COUNTER*/

.results-counter
{
    font-size:14px;
    color:#70757a;
}

/*STYLING SUGGESTION RESULT*/

#suggestion-box{
    
    border:1px solid #DDD;
    display:flex;
    flex-flow:column wrap;
    border-radius:10px;
    width:650px;
    justify-content:flex-start;
    padding:1rem 1rem 1.5rem 1rem;
}
#img-grid{
    display:flex;
    margin-bottom:2rem;

}
#img-grid img{
    margin:0 0.1rem;
}
 h4{
     font-size:22px;
     font-weight:100;
     margin:0;
 }
 #suggestion-box p{
     font-size:18px;
 }

 /*SEARCH RESULT URLS STYLING*/
 .urlstructure{
     display:flex;
     align-items:center;
 }
 .urlstructure{
     font-size:14px;
 }
 .urlstructure2{
     font-size:14px;
     color:#888;   
 }

 .search-result-link{
     font-size:22px;
     margin-top:1rem;
     text-decoration:none;
     color:#609;
     margin-top:0;
 }

  /*Questions Box*/

  #questions-box{
    padding:1rem 0;
    margin-top:2rem;
    border:1px solid #DDD;
    display:flex;
    flex-flow:column wrap;
    border-radius:10px;
    width:650px;
    justify-content:flex-start;
}

#questions-box header{

    border-bottom:1px solid #DDD;
}

#questions-box h4{
    padding:0 0 0.5rem 1rem;

}#main{
    width:40vw;
    margin-left:12rem;
}

/*STYLING RESULTS COUNTER*/

.results-counter
{
    font-size:14px;
    color:#70757a;
}

/*STYLING SUGGESTION RESULT*/

#suggestion-box{
    
    border:1px solid #DDD;
    display:flex;
    flex-flow:column wrap;
    border-radius:10px;
    width:650px;
    justify-content:flex-start;
    padding:1rem 1rem 1.5rem 1rem;
}
#img-grid{
    display:flex;
    margin-bottom:2rem;

}
#img-grid img{
    margin:0 0.1rem;
}
 h4{
     font-size:22px;
     font-weight:100;
     margin:0;
 }
 #suggestion-box p{
     font-size:18px;
 }

 /*SEARCH RESULT URLS STYLING*/
 .urlstructure{
     display:flex;
     align-items:center;
 }
 .urlstructure{
     font-size:14px;
 }
 .urlstructure2{
     font-size:14px;
     color:#888;   
 }

 .search-result-link{
     font-size:22px;
     margin-top:1rem;
     text-decoration:none;
     color:#609;
     margin-top:0;
 }

  /*Questions Box*/

  #questions-box{
    padding:1rem 0;
    margin-top:2rem;
    border:1px solid #DDD;
    display:flex;
    flex-flow:column wrap;
    border-radius:10px;
    width:650px;
    justify-content:flex-start;
}

#questions-box h4{
    padding:0 0 0.5rem 1rem;

}

/*Question Accordions*/

.answer{
    display:flex;   
    flex-flow:column wrap;
    padding:1rem 1rem 1.5rem 1rem;
    border-bottom:1px solid #DDD;
    
}

input[type=checkbox]
{

    display:none;
}
#questions-box ul{
    margin:0;
    padding:0;
}
li.question{
    margin-top:1rem;
    list-style:none;
    margin:0;
    padding:0;
}

.question label{
        display:flex;
        justify-content:space-between;
        cursor:pointer;
         border-bottom:1px solid #DDD;
         margin:0;
         padding:0.5rem;
         transition: ease .5s;
    }

input + label + .answer{
    display:none;   
}
input:checked + label + .answer{
    display:flex;
    transition: 5s ease-in;
}
/*END OF QUESTIONS ACCORDION*/

/*START OF SEARCH RESULTS*/

#search-results{
    width:35vw;
    margin-left:12rem;
    margin-bottom:4rem;

}
#search-results p{
    color:#666;
}

#search-results span{
    margin-top:1.5rem;
}

footer{
    height:100px;
    background-color:#DDD;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;

}